get-from-zipcodesnew/src/main/mule/zipcodes.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	
	<flow name="zipcodes-main" doc:id="b8e0e551-dbf0-418c-a9a0-fb45be67b58d">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="zipcodes-config"/>
		<error-handler ref="global_Error_Handler" />
        
    </flow>
    <flow name="zipcodes-console" doc:id="d1dc3273-2007-4cb0-aabc-3b27217e59b1">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="zipcodes-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="get:\project1\(zipcodes):zipcodes-config">
        <logger level="INFO" doc:name="start" doc:id="d864b211-be34-4c2f-88a8-70318466a0ed" message="flow start"/>
		<set-variable value="#[attributes.uriParams.zipcodes]" doc:name="Set Variable" doc:id="8c35d383-c74b-434e-8ecd-699df77f9593" variableName="zipcodes"/>
		<http:request method="GET" doc:name="Request" doc:id="196814ae-ead1-4789-b8e0-15a47ed29f2b" path="/GetZipCodeDetails/{zipcodes}" config-ref="HTTP_Request_configuration1">
			<http:uri-params ><![CDATA[#[{
   "zipcodes":	attributes.uriParams.zipcodes

}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[%dw 2.0
fun VP8HB4BLWM1YJTGVLJV(param0: Number, param1: Nothing) = ???
output application/json
---
{
  key: "7FX7MSA9P4QXQYL7I8CJ"
}]]]></http:query-params>
		</http:request>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="end" doc:id="10918d99-13d0-4002-bd34-4aa60b6db0ed" message="flow end"/>
    
</flow>
</mule>
